<p-dialog
  header="Edit Book"
  [style]="{ width: '450px' }"
  styleclass="p-fluid"
  [(visible)]="display"
  [modal]="true"
  [closable]="true"
  [responsive]="true"
>
  <form [formGroup]="editEmployeeForm" (ngSubmit)="onEdit()">
      <div class="p-field">
        <label for="BookName">Book Name</label>
        <input id="BookName" pInputText formControlName="BookName"  />
      </div>
 
      <div class="p-field">
        <label for="AuthorName">Author Name</label>
        <input id="AuthorName" pInputText formControlName="AuthorName" />
      </div>
 
      <div class="p-field">
        <label for="BookType">Book Type</label>
        <input id="BookType" pInputText formControlName="BookType"  />
      </div>
   
 
    <p-footer>
      <p-button
        type="submit"
        label="Save"
        [rounded]="true"
        severity="info"
      />&nbsp;&nbsp;
      <p-button
        type="button"
        label="Cancel"
        [rounded]="true"
        severity="danger"
        (click)="onCancel()"
      />
    </p-footer>
  </form>
</p-dialog>
 